.container{
    max-width: 100vw !important;
    background-image: linear-gradient(90deg, #002F52 35%, #326589 165%);
    position: sticky;
}

.row{
    padding: 0px 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.col{
    margin-top: 8px;
    width: 450px;
}

.card{
    height: 600px;
    width: 450px;
    background: #CCC
}

.card-text{
    height: 200px;
    margin-bottom: 0px;
}

.card img{
    width: 300px;
    height: 450px;
    margin: 5px auto 0;
    border-radius: 15px;
}

.title{
    font-size: 30px;
    font-weight: 700;
    color: #CCC;
}
