.container{
    max-width: 100vw !important;
    background-image: linear-gradient(90deg, #002F52 35%, #326589 165%);
    position: sticky;
    padding: 0 16px;
}

.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 90px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.col{
    padding: 90px 0px;
    width: 375px;
    /* height: 400px; */
}

.card{
    height: 400px;
    width: 350px;
    background: #CCC;
    position: relative;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}

.card-text{
    height: 200px;

}

.card img{
    width: 300px;
    height: 450px;
    position: absolute;
    bottom: 120px;
    left: 25px;
    border-radius: 25px
}

.titulo{
    font-size: 30px;
    font-weight: 700;
    color: #CCC;
    text-align: center;
}

.card-button-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
