.container{
    width: 100%;
    padding: 0 16px;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0px;

}

.col{
    padding: 110px 0px;
    width: 375px;
    /* height: 400px; */
}

.card{
    height: 400px;
    width: 350px;
    background: #CCC;
    position: relative;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}

.card-text{
    height: 200px;    
}

.card-rating{
    margin-bottom: 0px !important;
    font-weight: 600;
}

.card img{
    width: 300px;
    height: 450px;
    position: absolute;
    bottom: 150px;
    left: 25px;
    border-radius: 25px
}

.titulo{
    font-size: 30px;
    font-weight: 700;
    color: #CCC;
    text-align: center;
}

.card-button-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
