.container{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100vw;
}

.nav{
    background-color: #CCC;
    align-items: center;
    height: 52px;
    width: 100%;
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
    color: #0d6efd;
    border-radius: 15px;
}

.nav-link:hover{
    background-color: #0d6efd;
    color: #FFF;

    transition: all 700ms;

}