.subscription-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 52px);
    justify-content: center;
    align-items: center;
}

.planos-opcoes{
    display: flex;
    gap: 26px;
    flex-direction: row;
}

.card-plano {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 350px;
    border-radius: 15px;
    background: #ccccccd8;
    transition: all 0.4s;

}

.card-plano:hover{
    background: #CCC;
    transform: scale(1.1);
    transition: all 0.4s;
    border: #0d6efd 3px solid;

}

.card-plano-title,
.card-plano-subtitle {
    text-align: center;
}

.card-plano-title {
    margin-bottom: 20px;
}

.card-plano-subtitle {
    margin-bottom: 20px;
}

.plano-valor{
    text-align: center;
}

.descricao-plano li{
    list-style: none;
}

.card-plano-text {
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

.card-plano-bottom {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.card-plano-link{
    opacity: 0.5;;
}

.card-plano:hover .card-plano-link{
    opacity: 1;
}