.subscription-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 162px);
    gap: 26px;
    background-image: linear-gradient(90deg, #002F52 35%, #326589 165%);
    justify-content: center;
    align-items: center;
}

.card-plano {
    height: 350px;
    width: 350px;
    border-radius: 15px;
    background: #ccc

}

.card-plano-title,
.card-plano-subtitle {
    text-align: center;

}

.card-plano-title {
    margin-bottom: 50px;
}

.card-plano-subtitle {
    margin-bottom: 50px;
}

.card-plano-text {
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

.card-plano-link{
    text-decoration: none;
}

.card-plano-bottom {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}